---   
const assets = [
    {
        src: "/calendar/char.jpeg",
        width: 1600,
        height: 900,
        ratio: 0,
    },
    {
        src: "/calendar/paris.jpg",
        width: 1400,
        height: 930,
        ratio: 0,
    }
]

let background = assets[1] //Math.round(Math.random()*(assets.length-1))]
const animationON = "animation: gradient 1s ease infinite;"
---
<style>
@keyframes ping {
	0% { background-position: 0% 0%; }
    17% { background-position: 0% 1%; }
    /*
    33% { background-position: 1% 0%; }
	50% { background-position: 1% 0%; }
    67% { background-position: 1% 1%; }
    */
    83% { background-position: 1% 0%; }
	100% { background-position: 0% 1%; }
}
</style>
<div id="landing-screen-container" class="relative grid justify-items-center items-center" h>

<!-- CRT DISPLAY -->

<img src={background.src}
    width={background.width}
    alt="..."
    class="m-0 rounded-[50px] filter grayscale blur-[2px] z-1"
/>

<!-- CRT BARS -->
<div 
    id="effects_crt" 
    class="absolute z-2 opacity-10 min-w-full min-h-full bg-gradient-to-b from-white to-black bg-[length:5px_5px] animate-ping"    
></div>

<!--
<svg class="hidden">
    <filter id="noise">
        <feTurbulence id="turbulence">
        <animate
            attributeName="baseFrequency"
            dur="50s"
            values="0.9 0.9;0.8 0.8; 0.9 0.9"            
            repeatCount="indefinite"
        ></animate>
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="10"></feDisplacementMap>
    </filter>
</svg>
 -->
</div>